In [98]:
import os

# Set Java 17 path
os.environ["JAVA_HOME"] = "C:\\Program Files\\Java\\jdk-17"
os.environ["PATH"] = os.environ["JAVA_HOME"] + "\\bin;" + os.environ["PATH"]

from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("MyLocalSparkSession") \
    .master("local[*]") \
    .getOrCreate()

print("Spark version:", spark.version)

Spark version: 4.0.0

In [99]:
df_Flight_Data = spark.read.csv("Flight_Data.csv", header=True, inferSchema=True)
df_Flight_Data.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

In [100]:
df_Flight_Data.printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: integer (nullable = true)

In [101]:
df_Flight_Data.columns

['DEST_COUNTRY_NAME', 'ORIGIN_COUNTRY_NAME', 'count']

In [102]:
from pyspark.sql.functions import col

df_Flight_Data.select(col('count')).show()

+-----+
|count|
+-----+
|    1|
|  264|
|   69|
|   24|
|    1|
|   25|
|   54|
|  477|
|   29|
|   44|
|   17|
|   53|
|    1|
|   46|
|   21|
|  136|
|    2|
|    1|
|  390|
|  156|
+-----+
only showing top 20 rows

In [103]:
df_Flight_Data.select(col('DEST_COUNTRY_NAME'),col('ORIGIN_COUNTRY_NAME')).show()

+--------------------+-------------------+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|
+--------------------+-------------------+
|       United States|            Romania|
|       United States|            Ireland|
|       United States|              India|
|               Egypt|      United States|
|   Equatorial Guinea|      United States|
|       United States|          Singapore|
|       United States|            Grenada|
|          Costa Rica|      United States|
|             Senegal|      United States|
|       United States|   Marshall Islands|
|              Guyana|      United States|
|       United States|       Sint Maarten|
|               Malta|      United States|
|             Bolivia|      United States|
|            Anguilla|      United States|
|Turks and Caicos ...|      United States|
|       United States|        Afghanistan|
|Saint Vincent and...|      United States|
|               Italy|      United States|
|       United States|             Russia|
+--------------------+-------------------+
only showing top 20 rows

In [104]:
df_Flight_Data.select('DEST_COUNTRY_NAME','ORIGIN_COUNTRY_NAME').show()

+--------------------+-------------------+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|
+--------------------+-------------------+
|       United States|            Romania|
|       United States|            Ireland|
|       United States|              India|
|               Egypt|      United States|
|   Equatorial Guinea|      United States|
|       United States|          Singapore|
|       United States|            Grenada|
|          Costa Rica|      United States|
|             Senegal|      United States|
|       United States|   Marshall Islands|
|              Guyana|      United States|
|       United States|       Sint Maarten|
|               Malta|      United States|
|             Bolivia|      United States|
|            Anguilla|      United States|
|Turks and Caicos ...|      United States|
|       United States|        Afghanistan|
|Saint Vincent and...|      United States|
|               Italy|      United States|
|       United States|             Russia|
+--------------------+-------------------+
only showing top 20 rows

In [105]:
from pyspark.sql.functions import expr
#expr() lets you write SQL-like expressions inside DataFrame transformations.
df_Flight_Data.select(expr("count + 10")).show()

+------------+
|(count + 10)|
+------------+
|          11|
|         274|
|          79|
|          34|
|          11|
|          35|
|          64|
|         487|
|          39|
|          54|
|          27|
|          63|
|          11|
|          56|
|          31|
|         146|
|          12|
|          11|
|         400|
|         166|
+------------+
only showing top 20 rows

In [106]:
df_Flight_Data.select(expr("count as Total_Trip"),expr('DEST_COUNTRY_NAME as Destination')).show()

+----------+--------------------+
|Total_Trip|         Destination|
+----------+--------------------+
|         1|       United States|
|       264|       United States|
|        69|       United States|
|        24|               Egypt|
|         1|   Equatorial Guinea|
|        25|       United States|
|        54|       United States|
|       477|          Costa Rica|
|        29|             Senegal|
|        44|       United States|
|        17|              Guyana|
|        53|       United States|
|         1|               Malta|
|        46|             Bolivia|
|        21|            Anguilla|
|       136|Turks and Caicos ...|
|         2|       United States|
|         1|Saint Vincent and...|
|       390|               Italy|
|       156|       United States|
+----------+--------------------+
only showing top 20 rows

# Spark SQL

Steps:
Convert the data frame to temp view 
call sparl.sql () and inside the bcarket add your normal sql query

In [107]:
df_Flight_Data.createOrReplaceTempView('FlightTable')

In [108]:
spark.sql ("""
select * from FlightTable
""").show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

# Alies

In [109]:
from pyspark.sql.functions import col
df_Flight_Data.select(col('count').alias('Total Count')).show()

+-----------+
|Total Count|
+-----------+
|          1|
|        264|
|         69|
|         24|
|          1|
|         25|
|         54|
|        477|
|         29|
|         44|
|         17|
|         53|
|          1|
|         46|
|         21|
|        136|
|          2|
|          1|
|        390|
|        156|
+-----------+
only showing top 20 rows

# Filter

In [110]:
df_Flight_Data.filter(col('DEST_COUNTRY_NAME') == 'United States').show()

+-----------------+--------------------+-----+
|DEST_COUNTRY_NAME| ORIGIN_COUNTRY_NAME|count|
+-----------------+--------------------+-----+
|    United States|             Romania|    1|
|    United States|             Ireland|  264|
|    United States|               India|   69|
|    United States|           Singapore|   25|
|    United States|             Grenada|   54|
|    United States|    Marshall Islands|   44|
|    United States|        Sint Maarten|   53|
|    United States|         Afghanistan|    2|
|    United States|              Russia|  156|
|    United States|Federated States ...|   48|
|    United States|         Netherlands|  570|
|    United States|             Senegal|   46|
|    United States|              Angola|   18|
|    United States|            Anguilla|   20|
|    United States|             Ecuador|  345|
|    United States|              Cyprus|    1|
|    United States|Bosnia and Herzeg...|    1|
|    United States|            Portugal|  104|
|    United States|          Costa Rica|  501|
|    United States|           Guatemala|  333|
+-----------------+--------------------+-----+
only showing top 20 rows

In [111]:
df_Flight_Data.filter((col('DEST_COUNTRY_NAME') == 'United States') & (col('count') >50)).show()

+-----------------+-------------------+------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME| count|
+-----------------+-------------------+------+
|    United States|            Ireland|   264|
|    United States|              India|    69|
|    United States|            Grenada|    54|
|    United States|       Sint Maarten|    53|
|    United States|             Russia|   156|
|    United States|        Netherlands|   570|
|    United States|            Ecuador|   345|
|    United States|           Portugal|   104|
|    United States|         Costa Rica|   501|
|    United States|          Guatemala|   333|
|    United States|            Jamaica|   757|
|    United States|          Venezuela|   341|
|    United States|              Chile|   176|
|    United States|             Greece|    61|
|    United States|        The Bahamas|   959|
|    United States|          Hong Kong|   293|
|    United States|              China|   505|
|    United States| Dominican Republic|  1150|
|    United States|      United States|348113|
|    United States|         Luxembourg|    90|
+-----------------+-------------------+------+
only showing top 20 rows

# Literal

In [112]:
# when we need to pass same value in the data (like addging by default value)

In [113]:
from pyspark.sql.functions import lit

df_Flight_Data.select('*', lit('Economy').alias('class')).show()
# use case , can be used in if else , if value is not there add null

+--------------------+-------------------+-----+-------+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|  class|
+--------------------+-------------------+-----+-------+
|       United States|            Romania|    1|Economy|
|       United States|            Ireland|  264|Economy|
|       United States|              India|   69|Economy|
|               Egypt|      United States|   24|Economy|
|   Equatorial Guinea|      United States|    1|Economy|
|       United States|          Singapore|   25|Economy|
|       United States|            Grenada|   54|Economy|
|          Costa Rica|      United States|  477|Economy|
|             Senegal|      United States|   29|Economy|
|       United States|   Marshall Islands|   44|Economy|
|              Guyana|      United States|   17|Economy|
|       United States|       Sint Maarten|   53|Economy|
|               Malta|      United States|    1|Economy|
|             Bolivia|      United States|   46|Economy|
|            Anguilla|      United States|   21|Economy|
|Turks and Caicos ...|      United States|  136|Economy|
|       United States|        Afghanistan|    2|Economy|
|Saint Vincent and...|      United States|    1|Economy|
|               Italy|      United States|  390|Economy|
|       United States|             Russia|  156|Economy|
+--------------------+-------------------+-----+-------+
only showing top 20 rows

# ADDING COLUMN
# WITHCOLUMN  - Modify or add new column

In [114]:
new_df = df_Flight_Data.withColumn('Price',lit('90000')).show()

+--------------------+-------------------+-----+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|Price|
+--------------------+-------------------+-----+-----+
|       United States|            Romania|    1|90000|
|       United States|            Ireland|  264|90000|
|       United States|              India|   69|90000|
|               Egypt|      United States|   24|90000|
|   Equatorial Guinea|      United States|    1|90000|
|       United States|          Singapore|   25|90000|
|       United States|            Grenada|   54|90000|
|          Costa Rica|      United States|  477|90000|
|             Senegal|      United States|   29|90000|
|       United States|   Marshall Islands|   44|90000|
|              Guyana|      United States|   17|90000|
|       United States|       Sint Maarten|   53|90000|
|               Malta|      United States|    1|90000|
|             Bolivia|      United States|   46|90000|
|            Anguilla|      United States|   21|90000|
|Turks and Caicos ...|      United States|  136|90000|
|       United States|        Afghanistan|    2|90000|
|Saint Vincent and...|      United States|    1|90000|
|               Italy|      United States|  390|90000|
|       United States|             Russia|  156|90000|
+--------------------+-------------------+-----+-----+
only showing top 20 rows

# Rename Column

In [115]:
df_Flight_Data.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

In [116]:
df_Flight_Data.withColumnRenamed('Count','Trip').show()
df_Flight_Data.printSchema()

+--------------------+-------------------+----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|Trip|
+--------------------+-------------------+----+
|       United States|            Romania|   1|
|       United States|            Ireland| 264|
|       United States|              India|  69|
|               Egypt|      United States|  24|
|   Equatorial Guinea|      United States|   1|
|       United States|          Singapore|  25|
|       United States|            Grenada|  54|
|          Costa Rica|      United States| 477|
|             Senegal|      United States|  29|
|       United States|   Marshall Islands|  44|
|              Guyana|      United States|  17|
|       United States|       Sint Maarten|  53|
|               Malta|      United States|   1|
|             Bolivia|      United States|  46|
|            Anguilla|      United States|  21|
|Turks and Caicos ...|      United States| 136|
|       United States|        Afghanistan|   2|
|Saint Vincent and...|      United States|   1|
|               Italy|      United States| 390|
|       United States|             Russia| 156|
+--------------------+-------------------+----+
only showing top 20 rows
root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: integer (nullable = true)

# TypeCasting

In [117]:
df_Flight_Data.withColumn('count',col('count').cast("string")).printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: string (nullable = true)

# Removing Column

In [118]:
df_Flight_Data.drop(col('count')).show()

+--------------------+-------------------+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|
+--------------------+-------------------+
|       United States|            Romania|
|       United States|            Ireland|
|       United States|              India|
|               Egypt|      United States|
|   Equatorial Guinea|      United States|
|       United States|          Singapore|
|       United States|            Grenada|
|          Costa Rica|      United States|
|             Senegal|      United States|
|       United States|   Marshall Islands|
|              Guyana|      United States|
|       United States|       Sint Maarten|
|               Malta|      United States|
|             Bolivia|      United States|
|            Anguilla|      United States|
|Turks and Caicos ...|      United States|
|       United States|        Afghanistan|
|Saint Vincent and...|      United States|
|               Italy|      United States|
|       United States|             Russia|
+--------------------+-------------------+
only showing top 20 rows

In [119]:
sparkSql = df_Flight_Data.createOrReplaceTempView('FlightTable1')

In [120]:
spark.sql(
     '''
     select count as Trip from FlightTable1 where DEST_COUNTRY_NAME = 'Egypt' or 'ORIGIN_COUNTRY_NAME' = 'United States'
     '''
).show()

+----+
|Trip|
+----+
|  24|
+----+

# Union / Union All / Union By Name

In [121]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("salary", IntegerType(), True),
    StructField("dept_id", IntegerType(), True)
])

# ✅ df1
data = [
    (10, 'Anil', 50000, 18),
    (11, 'Vikas', 75000, 16),
    (12, 'Nisha', 40000, 18),
    (13, 'Nidhi', 60000, 17),
    (14, 'Priya', 80000, 18),
    (15, 'Mohit', 45000, 18),
    (16, 'Rajesh', 90000, 10),
    (17, 'Raman', 55000, 16),
    (18, 'Sam', 65000, 17)
]
df1 = spark.createDataFrame(data, schema)

# ✅ df2 (same schema, can be used for union or unionAll)
data1 = [
    (19, 'Sohan', 50000, 18),
    (20, 'Sima', 75000, 17)
]
df2 = spark.createDataFrame(data1, schema)

# ✅ df3_wrong_col_order (same values but different column order, for unionByName)
wrong_column_data = [
    (19, 50000, 18, 'Sohan'),
    (20, 75000, 17, 'Sima')
]
# Note the changed column order in schema
wrong_schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("salary", IntegerType(), True),
    StructField("dept_id", IntegerType(), True),
    StructField("name", StringType(), True)
])
df3_wrong_col_order = spark.createDataFrame(wrong_column_data, wrong_schema)

# ✅ df4_extra_column (extra column → to demonstrate schema mismatch error)
extra_column_data = [
    (19, 50000, 18, 'Sohan', 10),
    (20, 75000, 17, 'Sima', 20)
]
extra_schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("salary", IntegerType(), True),
    StructField("dept_id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("bonus", IntegerType(), True)
])
df4_extra_column = spark.createDataFrame(extra_column_data, extra_schema)

In [122]:


# # Union (same schema)
# df1.union(df2).show()

# # Union By Name (works even if columns are ordered differently)
# df1.unionByName(df3_wrong_col_order).show()

# # This will cause error: schema mismatch
# df1.union(df4_extra_column).show()  # ❌ Error: differing column count
# # so in this case we can select column manually and then we can perform the union operation

# Repartition and Coalesec

In [123]:
df_Flight_Data.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

In [124]:
df_Flight_Data.count()

255

In [125]:
# to get the partition we need to convert it to RDD first 
df_Flight_Data.rdd.getNumPartitions()

1

In [126]:
# now we will makle 4 partitions 
df_Flight_Data_partitions= df_Flight_Data.repartition(4)

In [127]:
# check how the allocation happned 
from pyspark.sql.functions import spark_partition_id

df_Flight_Data_partitions.withColumn("PartitionID",spark_partition_id()).groupBy("PartitionID").count().show()
# Evenly Disrtributed

+-----------+-----+
|PartitionID|count|
+-----------+-----+
|          0|   63|
|          1|   64|
|          2|   64|
|          3|   64|
+-----------+-----+

In [128]:
# we can also create partition based on columns and also give number of partitions we need, if there is no value then null will be assigned 

partitioned_by_column= df_Flight_Data.repartition(300,'ORIGIN_COUNTRY_NAME')

In [129]:
partitioned_by_column.rdd.getNumPartitions()

300

In [130]:
partitioned_by_column.withColumn("PartitionID",spark_partition_id()).groupBy("PartitionID").count().show()
# we were having less values 255 and number of parttitions werer 300 , so null in remeaning values

+-----------+-----+
|PartitionID|count|
+-----------+-----+
|          0|    1|
|          2|    1|
|          7|    1|
|         10|    1|
|         13|    1|
|         15|    2|
|         16|    2|
|         19|    1|
|         21|    1|
|         22|    1|
|         28|    1|
|         31|    1|
|         39|    1|
|         42|    1|
|         43|    1|
|         44|    1|
|         45|    2|
|         48|    1|
|         53|    1|
|         54|    1|
+-----------+-----+
only showing top 20 rows

# Coalsence

In [131]:
coalesce_flight_df = df_Flight_Data.repartition(8)

In [132]:
coalesce_flight_df.withColumn("PartitionID",spark_partition_id()).groupBy("PartitionID").count().show()

+-----------+-----+
|PartitionID|count|
+-----------+-----+
|          0|   32|
|          1|   31|
|          2|   32|
|          3|   32|
|          4|   32|
|          5|   32|
|          6|   32|
|          7|   32|
+-----------+-----+

In [133]:
# reduce to 3 

three_col_partition = coalesce_flight_df.coalesce(3)

In [134]:
three_col_partition.withColumn("PartitionID",spark_partition_id()).groupBy("PartitionID").count().show()
# not evenly distributed,

+-----------+-----+
|PartitionID|count|
+-----------+-----+
|          0|   64|
|          1|   95|
|          2|   96|
+-----------+-----+

# Case When, When Otherwise/ Null values dealing

In [135]:
df_Flight_Data.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

In [136]:
from pyspark.sql.functions import when, col
df_Flight_Data.withColumn('Frequent Travel', when(col('count') > 100, 'Medium Yes')
                                             .when(col('count') > 200,'Too Frequent')
                                             .otherwise ('Need to Improve')).show()

+--------------------+-------------------+-----+---------------+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|Frequent Travel|
+--------------------+-------------------+-----+---------------+
|       United States|            Romania|    1|Need to Improve|
|       United States|            Ireland|  264|     Medium Yes|
|       United States|              India|   69|Need to Improve|
|               Egypt|      United States|   24|Need to Improve|
|   Equatorial Guinea|      United States|    1|Need to Improve|
|       United States|          Singapore|   25|Need to Improve|
|       United States|            Grenada|   54|Need to Improve|
|          Costa Rica|      United States|  477|     Medium Yes|
|             Senegal|      United States|   29|Need to Improve|
|       United States|   Marshall Islands|   44|Need to Improve|
|              Guyana|      United States|   17|Need to Improve|
|       United States|       Sint Maarten|   53|Need to Improve|
|               Malta|      United States|    1|Need to Improve|
|             Bolivia|      United States|   46|Need to Improve|
|            Anguilla|      United States|   21|Need to Improve|
|Turks and Caicos ...|      United States|  136|     Medium Yes|
|       United States|        Afghanistan|    2|Need to Improve|
|Saint Vincent and...|      United States|    1|Need to Improve|
|               Italy|      United States|  390|     Medium Yes|
|       United States|             Russia|  156|     Medium Yes|
+--------------------+-------------------+-----+---------------+
only showing top 20 rows

In [137]:
# null values 


from pyspark.sql.functions import when, col, lit

df_Flight_Data.withColumn(
    'count', 
    when(col('count').isNull(), lit(1)).otherwise(col('count'))
).withColumn(
    'Null Details', 
    when(col('ORIGIN_COUNTRY_NAME') == 'Afghanistan', 'cancle Flight')
    .otherwise('KEEP FLIGHT')
).show()

+--------------------+-------------------+-----+-------------+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count| Null Details|
+--------------------+-------------------+-----+-------------+
|       United States|            Romania|    1|  KEEP FLIGHT|
|       United States|            Ireland|  264|  KEEP FLIGHT|
|       United States|              India|   69|  KEEP FLIGHT|
|               Egypt|      United States|   24|  KEEP FLIGHT|
|   Equatorial Guinea|      United States|    1|  KEEP FLIGHT|
|       United States|          Singapore|   25|  KEEP FLIGHT|
|       United States|            Grenada|   54|  KEEP FLIGHT|
|          Costa Rica|      United States|  477|  KEEP FLIGHT|
|             Senegal|      United States|   29|  KEEP FLIGHT|
|       United States|   Marshall Islands|   44|  KEEP FLIGHT|
|              Guyana|      United States|   17|  KEEP FLIGHT|
|       United States|       Sint Maarten|   53|  KEEP FLIGHT|
|               Malta|      United States|    1|  KEEP FLIGHT|
|             Bolivia|      United States|   46|  KEEP FLIGHT|
|            Anguilla|      United States|   21|  KEEP FLIGHT|
|Turks and Caicos ...|      United States|  136|  KEEP FLIGHT|
|       United States|        Afghanistan|    2|cancle Flight|
|Saint Vincent and...|      United States|    1|  KEEP FLIGHT|
|               Italy|      United States|  390|  KEEP FLIGHT|
|       United States|             Russia|  156|  KEEP FLIGHT|
+--------------------+-------------------+-----+-------------+
only showing top 20 rows

In [138]:
df_Flight_Data.createOrReplaceTempView('FlightSQLWhenOtherWise')

In [139]:
spark.sql("""
SELECT  
  CASE 
    WHEN ORIGIN_COUNTRY_NAME = 'Afghanistan' THEN 'Cancel Flight'
    ELSE 'Keep Flight'
  END AS FlightDetails
FROM FlightSQLWhenOtherWise
""").show()

+-------------+
|FlightDetails|
+-------------+
|  Keep Flight|
|  Keep Flight|
|  Keep Flight|
|  Keep Flight|
|  Keep Flight|
|  Keep Flight|
|  Keep Flight|
|  Keep Flight|
|  Keep Flight|
|  Keep Flight|
|  Keep Flight|
|  Keep Flight|
|  Keep Flight|
|  Keep Flight|
|  Keep Flight|
|  Keep Flight|
|Cancel Flight|
|  Keep Flight|
|  Keep Flight|
|  Keep Flight|
+-------------+
only showing top 20 rows

In [140]:
spark.sql("""
SELECT  
  CASE 
    WHEN ORIGIN_COUNTRY_NAME = 'Afghanistan' THEN 'Cancel Flight' 
    WHEN ORIGIN_COUNTRY_NAME = 'Sint Maarten' THEN 'Rerrange Flight'
    ELSE 'Keep Flight'
  END AS FlightDetails
FROM FlightSQLWhenOtherWise
""").show()

+---------------+
|  FlightDetails|
+---------------+
|    Keep Flight|
|    Keep Flight|
|    Keep Flight|
|    Keep Flight|
|    Keep Flight|
|    Keep Flight|
|    Keep Flight|
|    Keep Flight|
|    Keep Flight|
|    Keep Flight|
|    Keep Flight|
|Rerrange Flight|
|    Keep Flight|
|    Keep Flight|
|    Keep Flight|
|    Keep Flight|
|  Cancel Flight|
|    Keep Flight|
|    Keep Flight|
|    Keep Flight|
+---------------+
only showing top 20 rows

# Unbique Value, Drop Duplicates , Sort Data In Asc and Desc value.

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

data = [
    (10 ,'Anil',50000, 18),
    (11 ,'Vikas',75000, 16),
    (12 ,'Nisha',40000, 18),
    (13 ,'Nidhi',60000, 17),
    (14 ,'Priya',80000, 18),
    (15 ,'Mohit',45000, 18),
    (16 ,'Rajesh',90000, 10),
    (17 ,'Raman',55000, 16),
    (18 ,'Sam',65000, 17),
    (15 ,'Mohit',45000, 18),
    (13 ,'Nidhi',60000, 17),      
    (14 ,'Priya',90000, 18),  
    (18 ,'Sam',65000, 17)
]

schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("salary", IntegerType(), True),
    StructField("age", IntegerType(), True)
])

df = spark.createDataFrame(data, schema)
df.show()

In [ ]:
# find the unique values
df.distinct().show()

In [ ]:
df.select("id",'name').distinct().show()

In [ ]:
# drop duplicates
df.drop_duplicates(subset=['id'])

In [ ]:
# Sort 
df.sort(col('id'),asc).show()
df.sort(col('id'),desc).show()

# Aggregation

In [ ]:
# count, action and transformation 
df.select(count('id')).show() # for perticular column
df.count() # for all dataframe
df.select(count(*))

In [ ]:
# min
df.select(sum('salary').alies ('Total Salary'), max('salary').alies('Max Salary'),min('Salary').alias('Min Salary')).show()

In [ ]:
df.select(sum('salary').alies('Total Salary'),count('salary').alias('Count of Salary'), avg ('salary').alias('AverageSalary')).show()

# Group By|

In [ ]:
df.groupBy(col('dept').agg(sum('salary').alias('Total Salary')))

df.groupBy

In [ ]:
spark.sql("""

select Dept, sum(salary) as total_salary
from table
group by dept

""")

# Join

In [ ]:
# inner Join 

df1.join(df2, df1['id']= df2['id'], 'inner').show()

In [ ]:
# left join 

df1.join(df2, df1['id']=df2['id'],'left').show()